{% block content %}
{% include "header.html" %}

<h1 class="text-center mt-5">Add new product</h1>
{% from 'bootstrap5/form.html' import render_form %}
<section class="mb-5">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form class="NewProductForm" method="POST" action="{{ url_for('add_new_product') }}">
       {{ render_form(form) }}

      </form>
      </div>
    </div>
  </div>
  </section>
{% include "footer.html" %}
{% endblock %}