{% block content %}
{% include "header.html" %}
<script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

<h1 class="text-center pt-5 mt-5">Shopping cart</h1>

<body>
  <div class="container-fluid mb-5">
    <div class="row">
      <!-- Left column - Selected products -->
      <div class="col-md-6">
        <section class="py-5">
          <div class="container px-4 px-lg-5 mt-5 flex-fill">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              {% for cart_item, product in cart_items %}
                <!-- Product card code goes here -->
                <div class="col mb-5">
                      <div class="card h-100">
                          <a href="{{ url_for('product', product_id=product.id) }}">
                                <img class="card-img-top" src="{{ product.pic_url }}" alt="..." />
                          </a>
                          <h6 class="fw-bolder">{{ product.name }}</h6>
                          <!-- Product price-->
                          {% if product.on_sale %}
                              <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                              ${{ product.sale_price }}

                          {% else %}
                              ${{ product.price }}
                          {% endif %}
                          <!-- Other product details here -->
                          <form id="quantity-form" action="{{ url_for('change_item_quantity', product_id=cart_item.product_id) }}" method="POST">
                            <input id="quantity-input" class="form-control" type="number" name="quantity-input" value="{{ cart_item.quantity }}" min="0">
                          </form>

                      </div>

                  <!-- ... -->
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>

      <!-- Vertical line divider -->
      <div class="col-md-1 align-middle" style="border-right: 1px solid #ddd;"></div>

      <!-- Right column - Subtotal, Total Savings, Checkout, Continue Shopping -->
      <div class="col-md-5">
        <div class="p-4">
          <!-- Subtotal -->
          <h2 class="mb-3">Subtotal: ${{ subtotal }}</h2>
          <!-- Total Savings -->
          <p>Total Savings: ${{ savings }}</p>
          <!-- Checkout button -->
            <a href="{{ url_for('checkout') }}">
                <button class="btn btn-dark btn-lg mb-3">Checkout</button>
            </a>
            <br>
          <!-- Continue Shopping button -->
            <hr class="my-0 mb-1" style="width: 200px; background-color: #ddd;">
                <a href="{{ url_for('main') }}">Continue Shopping</a>
            <hr class="my-0 mt-2" style="width: 200px; background-color: #ddd;">
        </div>
      </div>
    </div>
  </div>


</body>

{% include "footer.html" %}
{% endblock %}