<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Raimo's shop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/assets/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column" style="min-height: 100vh>
        <!-- Navigation-->
        {% include "header.html" %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">In Raimo's shop</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5 mb-5" >
            <div class="container px-4 px-lg-5 mt-5 flex-fill">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if product.on_sale == True %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% endif %}
                            <!-- Product page link and image-->
                            <a href="{{ url_for('product', product_id=product.id) }}">
                                <img class="card-img-top" src="{{ product.pic_url }}" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product reviews-->
                                    {% if product.stars > 0 %}
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            {% for _ in range(product.stars) %}
                                                <div class="bi-star-fill"></div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <!-- Product price-->
                                    {% if product.on_sale %}
                                        <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                                        ${{ product.sale_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto add-to-cart-btn" href="#" data-product-id="{{ product.id }}"><i class="bi-cart-fill me-1"></i>Add to cart</a>
                                </div>

                            </div>
                        </div>
                    </div>

                {% endfor %}

                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include "footer.html" %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./static/assets/js/scripts.js"></script>
    </body>
</html>
