{% block content %}
{% include "header.html" %}

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.pic_url }}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: {{ product.product_id }}</div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                        {% if product.on_sale %}
                            <span class="text-decoration-line-through">${{ product.price }}</span>
                            <span>${{ product.sale_price }}</span>
                        {% else %}
                            <span>${{ product.price }}</span>
                        {% endif %}
                    </div>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            {% if category_count > 1 %}
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for prod in all_products %}
                    {% if product.category == prod.category and product.id != prod.id %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                {% if prod.on_sale == True %}
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                {% endif %}
                                <!-- Product page link and image-->
                                <a href="{{ url_for('product', product_id=prod.id) }}">
                                    <img class="card-img-top" src="{{ prod.pic_url }}" alt="..." />
                                </a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ prod.name }}</h5>
                                        <!-- Product reviews-->
                                        {% if prod.stars > 0 %}
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                {% for _ in range(prod.stars) %}
                                                    <div class="bi-star-fill"></div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <!-- Product price-->
                                        {% if prod.on_sale %}
                                            <span class="text-muted text-decoration-line-through">${{ prod.price }}</span>
                                            ${{ prod.sale_price }}
                                        {% else %}
                                            ${{ prod.price }}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}



            {% else %}
                <h3 class="fw-bolder mb-4">Currently there are no similar products in the store. Please come back later.</h3>
                <h3 class="fw-bolder mb-4">Currently there are no similar products in the store. Please come back later.</h3>
                <h3 class="fw-bolder mb-4">Currently there are no similar products in the store. Please come back later.</h3>
                <h3 class="fw-bolder mb-4">Currently there are no similar products in the store. Please come back later.</h3>
            {% endif %}
        </div>
    </section>


    <!-- Footer-->
    {% include "footer.html" %}
{% endblock %}